.clock-container {
    font-size: 48px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
  }
  body{
    background-image: url('https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/8103728/169908_306061.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }